.cargo/
.docker/
dev/
src/
target/
xtask/
.gitignore
Cargo.lock
Cargo.toml
docker-compose.yml
Makefile

README.md
!target/x86_64-unknown-linux-musl/debug/aloxd
!target/x86_64-unknown-linux-musl/debug/aloxctl
!target/x86_64-unknown-linux-musl/release/aloxd
!target/x86_64-unknown-linux-musl/release/aloxctl